<!DOCTYPE html>
<html lang="en">

<head>
    <title> Egg Control </title>
    <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
	<nav class="light-blue lighten-1" role="navigation">
		<div class="nav-wrapper container">
			<ul class="left hide-on-med-and-down">
				<li><%= user.userName %><li>
			</ul>
           <ul class="right hide-on-med-and-down">
                <li><a href="http://localhost:3000/home">Home Page</a></li>
                <li><a href="http://localhost:3000/addEggs">Add Eggs</a></li>
                <li><a href="http://localhost:3000/removeEggs">Remove Eggs</a></li>
                <li><a href="http://localhost:3000/placeOrder">Place Order</a></li>
                <li><a href="http://localhost:3000/admin">Admin</a></li>
				<li><a href="http://localhost:3000/createCustomer">Create Account</a></li>
				<li><a href="http://localhost:3000/login">Login</a></li>
				<li><a href="http://localhost:3000/logout">Logout</a></li>
          </ul>

		  <ul id="nav-mobile" class="sidenav">
				<li><a href="http://localhost:3000/home">Home Page</a></li>
                <li><a href="http://localhost:3000/addEggs">Add Eggs</a></li>
                <li><a href="http://localhost:3000/removeEggs">Remove Eggs</a></li>
                <li><a href="http://localhost:3000/placeOrder">Place Order</a></li>
                <li><a href="http://localhost:3000/admin">Admin</a></li>
				<li><a href="http://localhost:3000/createCustomer">Create Account</a></li>
				<li><a href="http://localhost:3000/login">Login</a></li>
				<li><a href="http://localhost:3000/logout">Logout</a></li>
		  </ul>
		  <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		</div>
	</nav>

<section class='container orange-text'>
	<h2 class ='center'> Remove Eggs from Database </h4>	
	<form class='light-grey' action='/removeEggs' method='POST'> 
		<label> Your Name: </label>
		<input type='text' name='uName' autocomplete="off" placeholder="Your Name" required />
		<label> Number of Eggs: </label>
		<input type='number' name='numEggs'  autocomplete="off" placeholder="Number of Eggs" required />
		<label> Date (YYYY-MM-DD): </label>
		<input type='date' name='eggDate'>
		<label> ID Numbers (Comma Seperated): </label>
		<input type='text' name='ids'>
		
		<div class='center'>
			<br>
			<input class='btn-large waves-effect waves-light orange' type='submit' value='Remove'>
		</div>
		<br>
		<h4 class='center green-text' ><%= errorInfo.success %></h4>
		<h6 class='center green-text' ><%= errorInfo.eggNumbers %></h6>
	</form>

	<div>
		<table style='width:100%'>
			<tr class="blue-text">   <th>ID</th>  <th>Picker Name</th>  <th>Date Picked</th>  <th>Expiry Date</th>   </tr>
			<% for(var i =0; i<tableInfo.length; i++){ %>
				<tr>   
					<td><%= tableInfo[i].Id %></td> 
					<td><%= tableInfo[i].Picker_Name %></td> 
					<td><%= tableInfo[i].Pick_Date %></td> 
					<td><%= tableInfo[i].Expiry_Date %></td>   
				</tr>
			<% } %>
		</table>
	</div>

	<br>
</section>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Nathan's Verdict</h5>
          <p class="grey-text text-lighten-4"> I just used this random CSS package from Materialize because I'm more focused on learning php right now</p>
        </div>
      </div>
    </div>
      <div class="container">
      Made by Nathan Kuruvilla
	  <br><br>
      </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>

</html>